[Unit]
Description=MariaDB ({{ mariadb_identifier }})
{% for service in mariadb_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ mariadb_identifier }} 2>/dev/null'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mariadb_identifier }} 2>/dev/null'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name {{ mariadb_identifier }} \
			--log-driver=none \
			--user={{ mariadb_uid }}:{{ mariadb_gid }} \
			--network={{ mariadb_container_network }} \
			--env-file={{ mariadb_base_path }}/env \
			--mount type=bind,src={{ mariadb_data_path }},dst=/var/lib/mysql \
			--mount type=bind,src={{ mariadb_base_path }}/my.cnf,dst=/root/.my.cnf,ro \
			--tmpfs=/tmp:rw,noexec,nosuid,size=512m \
			{{ mariadb_container_image_to_use }}

{% for network in mariadb_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ mariadb_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ mariadb_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ mariadb_identifier }} 2>/dev/null'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ mariadb_identifier }} 2>/dev/null'
Restart=always
RestartSec=30
SyslogIdentifier={{ mariadb_identifier }}

[Install]
WantedBy=multi-user.target
